<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="{%static 'scripts/app.js'%}"></script>
    <link rel="stylesheet" href="{%static 'style/app.css'%}" />
    <title>有名小站</title>
  </head>
  <body>
    <nav class="bg-green-200 py-4 px-8">
      <ul class="flex gap-2">
        <li>
          <a href="{%url 'pages:home'%}">Home</a>
        </li>
        <li><a href="{%url 'pages:about'%}">About</a></li>
        <li><a href="{%url 'articles:index'%}">Articles</a></li>
        <li><a href="{%url 'pages:contact'%}">Contact Us</a></li>
      </ul>
    </nav>

    <!-- 先挖洞 -->
    <main class="container mx-auto mt-2">
      {%include "shared/messages.html"%} {%block content%} {%endblock%}
    </main>
  </body>
</html>
