<!DOCTYPE html>
<html lang="en" data-theme="nord">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
    {% load static %}
    <script type="module" src="{%static 'scripts/app.js'%}"></script>
    <link rel="stylesheet" href="{%static 'styles/app.css'%}" />
    <title>有名小站</title>
  </head>
  <body  hx-headers='{"X-CSRFToken":"{{csrf_token}}"}'>
    <nav class="bg-accent py-4 px-8 shadow-sm">
      <ul class="flex flex-row w-full gap-2 menu w-56 [&_li>*]:rounded-box p-0">
        <li>
          <a href="{%url 'pages:home'%}">Home</a>
        </li>
        <li>
          <a href="{%url 'pages:about'%}">About</a>
        </li>
        <li>
          <a href="{%url 'articles:index'%}">Articles</a>
        </li>
        <li>
          <a href="{%url 'pages:contact'%}">Contact Us</a>
        </li>
      </ul>
    </nav>

    <!-- 先挖洞 -->
    <main class="container mx-auto mt-2">
      {%include "shared/messages.html"%} {%block content%} {%endblock%}
    </main>
  </body>
</html>
