{%extends "layouts/default.html"%}

{%block content%}
<div class="flex flex-row gap-2">
  <a class="btn btn-sm btn-accent" href="{%url 'articles:edit' article.id%}"
    >Edit</a
  >
  <!-- a 標籤只有get，沒有delete，所以要用form包起來 -->
  <form action="{%url 'articles:detail' article.id%}" method="post">
    {% csrf_token %}
    <input type="hidden" name="_method" value="delete" />
    <button class="btn btn-sm btn-error" href="">Delete</button>
  </form>
</div>

<h1 class="text-3xl mt-4 text-primary mb-2">{{article.title}}</h1>
<article class="mb-4">{{article.content | linebreaksbr}}</article>

<hr>
<h3 class="text-2xl">Comment Section</h3>

<form action="{%url 'articles:create_comment' article.id%}" method="post" class="mt-4">
  {% for field in comment_form%}
  {% csrf_token %}
  <!-- 也可以用這個單獨指定的方式去寫 -->
  {{comment_form.content.label_tag}}
  {{comment_form.content}}
  {%endfor%}
  <button class="btn btn-primary mt-4">Send</button>
</form>

<ul>
  {%for comment in comments%}
  <div class="comment border-1 border-gray-400 rounded-2xl mt-2 p-2 hover:shadow-sm flex flex-row items-center justify-between" id="comment-{{comment.id}}">
    <div class="text"><li>{{comment.content}}</li>
    <li class="text-xs text-gray-500">{{comment.created_at}}</li></div>
    <!-- <form action="{%url 'comments:delete' comment.id%}" method="post"> -->
      <!-- csrf token 可以刪掉，因為已經放在body裡了 -->
      <!-- {% csrf_token %} -->

      <!-- 使用htmx的方式，就可以不用用form了send request了 -->
     
    <!-- </form> -->
     <!-- hx-swap換的位置、hx-target換的標的物 -->
     <button class="btn btn-sm btn-error"
     hx-delete="{%url 'comments:delete' comment.id%}"
     hx-target="#comment-{{comment.id}}"
     hx-swap="outerHTML">Delete</button>
    
  </div>
  
  {%endfor%}
</ul>


{%endblock%}
