{%extends "layouts/default.html"%}

{%block content%}
<div class="flex flex-row gap-2">
  <a class="btn btn-sm btn-accent" href="{%url 'articles:edit' article.id%}"
    >Edit</a
  >
  <!-- a 標籤只有get，沒有delete，所以要用form包起來 -->
  <form action="{%url 'articles:detail' article.id%}" method="post">
    {% csrf_token %}
    <input type="hidden" name="_method" value="delete" />
    <button class="btn btn-sm btn-error" href="">Delete</button>
  </form>
</div>

<h1 class="text-3xl mt-4 text-primary mb-2">{{article.title}}</h1>
<article class="mb-4">{{article.content | linebreaksbr}}</article>

<hr>
<h3 class="text-2xl">Comment Section</h3>

<!-- 改用htmx來寫 -->
 <!-- after-request那句是為了清除input -->
<form hx-post="{%url 'articles:create_comment' article.id%}" hx-target="#comment-section" hx-swap="afterbegin" hx-on::after-request="if(event.detail.successful) this.reset()" class="mt-4">
  
  <!-- 也可以用這個單獨指定的方式去寫 -->
  {{comment_form.content.label_tag}}
  {{comment_form.content}}

  <button :disabled="{{user.is_authenticated | yesno:'false,true'}}" class="btn btn-primary mt-4">Send</button>
</form>

<!-- 留言愈多，就會查資料庫愈多次，因為每一筆留言都要查詢作者（n+1 query） -->
<ul id="comment-section">
  {%for c in comments%}
    <!-- 這樣設定不管在哪裡，他就可以獨立使用 -->
    <!-- only是你只能吃我給你的，你不能擁有別的變數，for example，我放{{comments}}，他就會吃不到 -->
    <!-- 這樣的設計代表，include裡面只能吃comment的變數 -->
    <!-- user等於request.user，是簡寫 -->
    {%include "comments/comment.html" with comment=c user=user only%}
  {%endfor%}
</ul>


{%endblock%}
