{%extends 'layouts/default.html'%} {%block content%}

<h1 class="text-3xl my-4">Register</h1>
<form
  action="{% url 'users:create' %}"
  class="flex flex-col gap-4"
  method="post"
>
  {% csrf_token %}
  <div class="flex flex-col">
    <label>Username</label>
    <input type="text" name="username" class="input" required />
  </div>
  <div class="flex flex-col">
    <label>Password</label>
    <input type="password" name="password" class="input" required />
  </div>
  <div>
    <button class="btn btn-success">Register</button>
  </div>
</form>

{%endblock%}
